[Unit]
Description=Physalix Enrollment System Database
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/phx
StandardOutput=append:/phx/logs/database-stdout.log
StandardError=append:/phx/logs/database-stderr.log
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/phx/service/start-database.sh %n
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target