[Unit]
Description=Physalix Enrollment System Web
After=docker.service phx-database.service
Requires=docker.service phx-database.service

[Service]
WorkingDirectory=/phx
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=./service/start-web.sh %n
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
